<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PostgreSQLConnectionString" value="Server=localhost;Database=picky-bride;
        User Id=picky-bride;Password=1234567890"/>
        <add key="RebbitMQHost" value="localhost"/>
        <add key="RebbitMQVirtualHost" value="/"/>
        <add key="RebbitMQUsername" value="guest"/>
        <add key="RebbitMQPassword" value="guest"/>
    </appSettings>
</configuration>  